<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home page</title>
<link rel="stylesheet" href="../../css/style.css">
</head>
<body>
  <header>
    <a href="../../index.html" class="logo">E-market</a>
    <div class="search">
      <input type="text" placeholder="Search" class="search-input">
      <i class="fas fa-search"></i>
    </div>
    <nav>
      <ul>
        <li><a>CONTACT</a></li>
        <li><a href="./Auth/login.html">LOGIN</a></li>
        <li><a href="./Auth/register.html">REGISTER</a></li>
        <li class="cart"><a href="../../components/cart.html"><i class="fas fa-shopping-cart"></i><span class="count">0</span></a></li>
        <li class="user">
          <i class="fas fa-user"></i>
          <ul class="dropdown">
            <li><a href="#">Profile</a></li>
            <li><a href="#">Orders</a></li>
            <li><a href="#">Logout</a></li>
          </ul>
        </li>
      </ul>
    </nav>
    <i class="fas fa-bars"></i>
  </header>
  <main>
    <section>
      <div class="container">
        <div class="categories">
         <div class="clothings">
          <h2>Clothing <i class="fa fa-arrow-down"></i></h2>
          <ul>
            <li><a href="./components/clothing/shirts.html">Shirts</a></li>
            <li><a href="./components/clothing/jeans.html">Jeans</a></li>
            <li><a href="./components/clothing/T-shirts.html">T-Shirts</a></li>
            <li><a href="./components/clothing/shorts.html">Shorts</a></li>
            <li><a href="./components/clothing/shoes.html">Shoes</a></li>
          </ul>
         </div>
         <div class="electonics">
          <h2>Electronics <i class="fa fa-arrow-down"></i></h2>
            <ul>
              <li><a href="./components/electronics/mobile -phones .html">Mobile Phones</a></li>
              <li><a href="./components/electronics/laptop.html">Laptops</a></li>
              <li><a href="./components/electronics/tablets.html">Tablets</a></li>
              <li><a href="./components/electronics/accesories.html">Accessories</a></li>
              <li><a href="./components/electronics/cameras.html">Cameras</a></li>
            </ul>
         </div>
         <div class="beauty">
          <h2>Beauty <i class="fa fa-arrow-down"></i></h2>
         <ul>
          <li><a href="./components/beauty/face-care.html">Makeup</a></li>
          <li><a href="./components/beauty/fragrances.html">Fragrances</a></li>
          <li><a href="./components/beauty/hair-care.html">Hair Care</a></li>
          <li><a href="./components/beauty/skin-care.html">Skincare</a></li>
          <li><a href="./components/beauty/bath-body.html">Bath & Body</a></li>
         </ul>
         </div>
         <div class="health">
          <h2>Health <i class="fa fa-arrow-down"></i></h2>
         <ul>
          <li><a href="./components/health/medicine.html">Medicine</a></li>
          <li><a href="./components/health/suppliments.html">Supplements</a></li>
          <li><a href="./components/health/weight-mgt.html">Weight Management</a></li>
          <li><a href="./components/health/nutrition.html">Nutrition</a></li>
          <li><a href="./components/health/mind-body.html">Mind & Body</a></li>
         </ul>
         </div>
         <div class="kids">
          <h2>Kids <i class="fa fa-arrow-down"></i></h2>
         <ul>
          <li><a href="./components/kids/boys.html">Boys</a></li>
          <li><a href="./components/kids/girls.html">Girls</a></li>
          <li><a href="./components/kids/shoes.html">Shoes</a></li>
          <li><a href="./components/kids/clothings.html">Clothing</a></li>
          <li><a href="./components/kids/toys.html">Toys</a></li>
         </ul>
         </div>
        </div>
    
        </div>
    </section>
    <section class="trending-category">
        <div class="sample">
            <h1>Wearable Accessories</h1>
            <div class="card-group accessories" onload="displayAccessories()">
                  
           
            </div>
        </div>
    </section>
  </main>
  <footer>
    <div class="container">
      <div class="about">
        <h2>About E-market</h2>
        <p>E market is an online market tailored to bring you amazing products at exclusive prices, we deliver products countrywide. Navigate the pages to view different products. We offer support 24/7, feel free to seek for assistance through our official channels.</p>
      </div>
      <div class="help">
        <h2>Help & Support</h2>
        <div class="help-container">
           <ul>
          <li><a href="faqs.html">FAQ</a></li>
          <li><a href="contact.html">Contact Us</a></li>
          <li><a href="return-refund.html">Returns & Refunds</a></li>
          <li><a href="shipping-delivery.html">Shipping & Delivery</a></li>
        </ul>
          <ul class="social-links">
            <li><a href=""><i class="fab fa-facebook"></i></a></li>
            <li><a href=""><i class="fab fa-twitter"></i></a></li>
            <li><a href=""><i class="fab fa-instagram"></i></a></li>
            <li><a href=""><i class="fab fa-pinterest"></i></a></li>
            <li><a href=""><i class="fab fa-youtube"></i></a></li>
            <li><a href=""><i class="fab fa-linkedin"></i></a></li>
          </ul>
        </div>
      </div>
      <div >
    </div>
  </footer>
  <script src="../../js/script.js"></script>
  <script type="module" src="../../js/accessories.js"></script>
</body>
</html>